
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: lightgray;
}

.container {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 270px;
    background-color: steelblue;
    color: white;
    padding: 15px;
}

.contactMe{
position: sticky;
    top: 10px;
}

img{
    border-radius: 10px;
}

.profile-pic {
    width: 100%;
    background-color: black;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px 0;
}

.image{
    width: 150px;        
    height: 150px;        
    object-fit: cover;    
    display: inline-block;
}

/* Main content */
.content {
    padding: 20px;
    background-color: white;
    width: 100%;
}

.content p{
    color: #16324F;
}

h1, h2 {
    color: darkblue;
}

/* Projects */
.projects {
    display: flex;
    flex-wrap: wrap;
}

.project {
    width: 45%;
    padding: 10px;
    margin: 10px;
}

.project p {
    text-align: center;
}

a  {
    text-align: center;
    display: block;
    text-decoration: none;
}

.project-img {
    width: 100%;
    height: 320px;
    background-color: black;
    margin-bottom: 10px;
}

.footer{
    margin-top: 150px;
}